* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbeaff;
}

.container {
  width: 96%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10%;
}

.header {
  width: 25%;
}

.avatar {
  border: 0;
  cursor: pointer;
  background-color: #fbeaff;
}

.popup-wrapper {
  background-color: #a086ca;
  position: fixed;
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  border-radius: 10px;
  display: none;
}
.fechar {
  border: 0;
  border-radius: 10px;
  background-color: #a086ca;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
.popup {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 10px;
  background-color: #a086ca;
}

.popup > button {
  padding: 10px;
  margin: 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #a691c7;
  transition: 0.5s;
}
.popup > button:hover {
  background-color: #c8b8e2;
  transition: 0.5s;
}

.popup > button > img {
  height: 10vw;
}

header button {
  border: 0;
  background-color: #fbeaff;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

#texto-padrao {
  display: block;
  word-break: break-all;
}

header article button:hover {
  background-color: #c8b8e2;
  transition: 0.5s;
}

#editar-nome {
  display: none;
}

#nome-padrao {
  display: block;
  word-break: break-all;
}

#editar-texto {
  display: none;
}

.main {
  width: 100%;
  height: fit-content;
  padding: 2%;
  display: flex;
  flex-direction: column;
  background-color: #a086ca;
  border-radius: 10px;
}
.container-list {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 2%;
}

.list {
  width: 100%;
}

.list > .todo-dia {
  background-color: #fefedf;
  border-radius: 10px;
  padding: 2%;
}

.list > .todo-noite {
  background-color: #8568b4;
  border-radius: 10px;
  padding: 2%;
}

.main ul li {
  text-align: left;
  margin-left: 20%;
  list-style-image: url(assets/uncheck.png);
  font-size: 20px;
  cursor: pointer;
}

.main ul li.checked {
  list-style-image: url(assets/checked.png);
  text-decoration: line-through;
}

ul li.checked::before {
  list-style-image: url(assets/checked.png);
}

ul li span {
  margin-left: 30px;
}
ul li span:hover {
  margin-left: 30px;
  background-color: #c8b8e2;
}

.list > .noite {
  background-color: #d2e6ee;
  border-radius: 10px;
  padding: 2%;
}
